/* Empty file for template. Remember to edit only this file and not the HTML file */



.page-wrapper {
    display: grid;
    grid-template:
        ". s s s ." 1fr
        ". d d a ." 1fr
        ". d d a ." 1fr
        / 1fr 1fr 1fr;
}

section {
    grid-area: s;
    text-align: center;
    border-style: solid;
    border-color: darkblue;
    background-color: lightblue;

    border-radius: 10px;
}

#zen-supporting {
    border-style: solid;
    border-color: darkblue;
    background-color: lightblue;
    padding: 1em;  
    border-radius: 10px;
}

.intro h1, .intro h2 {
    font-size: xx-large;
    text-align: center;
    transition: ease-in-out 100s;
}

.intro h1:hover {
    font-size: xx-large;
    text-align: center;
    rotate: 4000000deg;

}

p {
    font-size: large;
    filter: blur(0.4px);
}

p:nth-child(2)
{
    filter: blur(0.5px);
}
h3 {
    font-size: x-large;

}

p:last-child {
    font-size: 100%;
    transition: ease-in-out 5s;
}

p:last-child:hover {
    translate: -100% 0;
    font-size: 90%;
}

* {
    font-family: Georgia, 'Times New Roman', Times, serif ;
}

:root {
    color-scheme: light dark;
    color: rgb(0, 0, 0);
    background-color: lightgoldenrodyellow;
}

p:first-child:hover {
    filter: blur(100px);
    transition: ease-in-out 5s;
}

aside {
    border-style: solid;
    border-radius: 10px;
    border-color: darkblue;
    background-color: lightblue;
    transition: ease-in-out 2s;
    justify-items: center;
}

aside:hover {
    translate: 0% 100%;
    cursor: none;
}

aside li, aside ul {
    text-decoration: none;
    list-style-type: none;
}

a {
    color:cornflowerblue;
    transition: ease-in 0.5s;
    cursor: none;
}

a:hover {
    color: black;
    cursor: none;
    font-size: 60%;
}

a:visited {
    color: darkblue;
    font-size: 80%;
    cursor: none;
}

p:focus {
    outline-color: burlywood;
}
::selection {
    color: limegreen;
    background-color: lightgreen;
}

h1::selection, h2::selection, h3::selection {
    color: yellow;
    background-color: orange;
}

p:only-child{
    font-size: 200%;
    filter: blur(0.9px);
}

footer {
    text-align: center;
    font-size: small;
    border-radius: 5px;
    padding: 0.5em;
    margin-top: 1em;
    grid-area: f;
    transition: ease-in-out 2s;
}

footer:hover {
    rotate: 400deg;
    translate: -100% -1000%;
}

a:last-of-type:hover {
    transition: ease-in-out 1000s;
    rotate: 4000000deg;
    font-size: 1000%;
}